/* # Site Header
  ---------------------------------------------------------------------------------------------------- */

.site-header {
  position: fixed;
  z-index: 999;
  width: 100%;
  background: $white;
  border-bottom: 2px solid $green;
  .wrap {
    padding: 1rem 0;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.header-image {
  position: relative;
  .site-title {
    display: inline-block;
    text-indent: -9999px;
    margin: 0;
  } 
  .site-description {
    display: none;
  }
  // .scrolled .site-title a {
  //   height: 7rem;
  // //   width: 9rem;
  //   width: 100%;
  // }
  .site-title a {
    display: block;
    background-position: center !important;
    background-size: contain !important;
    // float: left;
    height: 7rem;
    // width: 18rem;
    width: 100%;
  }
}

.title-area {
  p.site-title {
    // padding: 0;
    // margin: 0;
    font-size: 3.6rem;
  }
}
/* ## Widget Area
--------------------------------------------- */

// .site-header .widget-area {
//   float: right;
//   text-align: right;
//   max-width: 55rem;
// }