/* # Variables
---------------------------------------------------------------------------------------------------- */
$black: rgb(0,0,0);
$dark-grey: rgb(51,51,51);
$grey: rgb(119,119,119);
$medium-grey: rgb(153,153,153);

$medium-light-grey: rgb(221,221,221);
$light-grey: rgb(238,238,238);
$white: rgb(255,255,255);

$primary: rgb(26, 104, 175);